<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95698a">  <td>23/06/28 13:18:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPage.test1()[pri:0, instance:com.define.custom.LoginPage@647fd8ce]">test1</td> 
  <td>main@1629687658</td>   <td></td> </tr>
<tr bgcolor="95698a">  <td>23/06/28 13:18:55</td>   <td>208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPage.test13()[pri:0, instance:com.define.custom.LoginPage@647fd8ce]">test13</td> 
  <td>main@1629687658</td>   <td></td> </tr>
</table>
